*{
    margin : 0px;
    padding : 0px;
}
body {
    background-color : darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#wrapper{
    margin: 0px auto;
    overflow : hidden;
    border : solid white 3px;
    width : 970px;
}
#top_header {
    background-color : red;
    height : 250 px;
    color : white;
    font-size : 30px;
    font-style : bold;
    margin : 10px;
    padding : 10px;
    border-radius : 10px;
}


#navigation {
    background-color: teal;
    margin : 10px;
    border-radius : 10px;
    padding : 10px;
    display : inline-block;
    vertical-align: top;
}

a {
    color : aqua;
}

ul {
    padding : 10px;
    font-size : 15px;
    color : white;
}

#content {
    background-color: black;
    display : inline-block;
    color : white;
    width : 70%;
    margin : 10px;
    padding : 10px;
    border-radius : 10px;
}

#footer {
    background-color: grey;
    color : white;
    margin : 10px;
    padding : 10px;
    border-radius : 10px;
}

p {
    display : inline;
}
#example_text {
    color : purple;
}